@media screen and (max-width: 550px){
	.row {flex-wrap: wrap;}

	footer.row {justify-content: space-between;}

	.footer__right__list {margin-top: 20px;}
	footer.row p.tag{margin-top: 0;}
}


@media screen and (max-width: 768px) {
	div.main__intro-block__right.column {
    padding: 0px;
	}
	.small-12{
		width: 100%;
	}


}

@media screen and (min-width: 850px) {
	
	.large-6{
		width: 50%;
	}
}