/*------------------------------------------------------------------
[Table of contents]

1. Body
	2. Header / #header
		2.1. Navigation / #navbar
	3. Content / #content
		3.1. Left column / #leftcolumn
		3.2. Right column / #rightcolumn
		3.3. Sidebar / #sidebar
			3.3.1. RSS / #rss
	4. Footer / #footer
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Color codes]

Background:	#ffffff (white)
Color Block 1:	#F8A494 (Light coral)
Color Block 2:	#64BBBB (Turquoise)
Color Block 3:	#FFCF8B (Light Orange)
Dark type color: #4A4A4A (dark black)

a (standard):	#4A4A4A (dark black)
a (visited):	#4A4A4A (dark black)
a (active):		#9B9B9B (grey)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Typography]


h1:									Merriweather, 400i, 36px, 45px
H2(Courses, position, main bold): 	Lato, 400, Bold, 18px, 22px, UPPERCASE
.links:								Lato, 400, 14px, 17px, underlined
.main-paragraph:					Lato, 400, 14px, 17px
.excerpt p:							Merriweather, 400i, 20px, 25px
Company/School p: 					Lato, 300, 18px, 22px, UPPERCASE
Description p : 					Merriweather, 300i, 14px, 18px;
.tag p: 							Lato, 300, 12px, 15px


Notes:	decreasing heading by 0.4em with every subsequent heading level
-------------------------------------------------------------------*/

/* master.css */
@import 'reset';
@import 'normalize';

$bk-color: #ffffff; /* (white) */
$color-block-1: #F8A494; /* (Lightcoral) */
$color-block-2: #64BBBB; /* (Turquoise) */
$color-block-3: #FFCF8B; /* (Light Orange) */
$dark-color: #4A4A4A; /* (dark black) */

$serif: "Merriweather", serif;
$sans-serif: "Lato", sans-serif;

$central-block-width: 90vw;

$general-padding: 0px;


/* Font style */

@mixin paragraph-style($font-family, $font-size, $font-color, $line-height, $font-weight, $italic, $font-decoration, $uppercase) {
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	line-height: $line-height;
	font-weight: $font-weight;
	font-style: $italic;
	text-decoration: $font-decoration;
	text-transform: $uppercase;
}

h1 { @include paragraph-style($serif, 36px, $dark-color, 45px, 400, italic, none, none); }
h2 { @include paragraph-style($sans-serif, 18px, $dark-color, 22px, bold, normal, none, uppercase); }
.links { @include paragraph-style($sans-serif, 14px, $dark-color, 17px, 400, normal, none, none); }
.links:hover{text-decoration: underline;}
p { @include paragraph-style($sans-serif, 14px, $dark-color, 17px, 400, normal, none, none); }
.excerpt { @include paragraph-style($serif, 20px, $dark-color, 25px, 400, italic, none, none); }
.tag { @include paragraph-style($sans-serif, 12px, $dark-color, 15px, 300, normal, none, none); }


/* 1. Body */

.body-container{
	display: block;
	margin: 3vw auto;
	width: $central-block-width;
	background-color: white;
}

/* header */

.header{
	position: fixed;
	z-index: 10;
	top:0;
	margin: auto;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3vw;
	width: $central-block-width; 
	padding: 0 $general-padding;
	.header__navigation__list__item{
		padding-left: 20px;
	}	
}

#logo-celine{
	width:25px;
	height: 25px;
}

.header__navigation__list__item{
	display: inline;
}



/* main */
.main__intro-block{
	background-color: $color-block-1;
}
.main__intro-block__right.column{
	padding: 0 0 0 20px;
}

.excerpt{
	margin: 15vw 0 0 0;
}

.row{
	// border: 1px solid #000;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;
}

.row--padding{
	// border: 1px solid #000;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
}
.column{
	padding: $general-padding; 
	overflow: hidden;
}

.large-6{
	width: 50%;
	// background-color: lightblue;
}

.main__excerpt-project{
	figure{
		// max-height: 33vw;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		&:hover .caption-hover{
			display: flex;
		}

		img{
			width: 100%;
		} 
	}
}

.caption-hover{
	display: none;
	width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 9;
    top: 0;
    left: 0;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-block-3;	
    h1{
    	margin-bottom: 0;
    }
}

.cta-plus{
	color: $dark-color;
	font-size: 40px;
	font-weight: 300;
	font-family: $sans-serif;

}






